In [39]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_seq_items', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)

In [40]:
filename = '../data/mediaTwitterID.txt'
df = pd.read_csv(filename, sep = ' |-', engine='python', header = None, names = ['1','name','ID','2','3','status'])

In [41]:
media_df = df[['name', 'ID', 'status']]
#media_df = media_df.loc[media_df['status'] == 'Active']
media_df.head(5)

               name           ID    status
0  PowderSprgsNews,  217469130.0  Inactive
1  WindyCityTimes,   30284449.0   Active
2  SCMPNews,         23922797.0   Active
3  CMAGAdFacts,      25156677.0   Inactive
4  TheNextAmerica,   555453339.0  Inactive

In [42]:
media_names = media_df['name'].unique()

In [43]:
tweets_df = pd.read_csv('../data/news_outlets_50K.csv')
tweets_df = tweets_df[['user_screen_name', 'id', 'text', 'created_at']]

In [44]:
count = 0
for name in media_names:
    if 'BBC' in name:
        print(name)

BBCArabic,
BBC,
BBCNewshour,
BBCNorthAmerica,
BBCBreaking,
BBC_Magazine,
BBCr4today,
BBCHindi,
BBCUrdu,
BBCWorld,
BBCSport,
BBCTech,
BBCScienceNews,
BBCPolitics,
BBCNews,
BBCAfrica,

In [45]:
media_names.shape

(4581,)